*{
  margin:0;
  padding:0px;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}
body{
  background:radial-gradient(circle at top left, #0f2027, #203a43, #000000); /* لون الصفحه*/
  display:flex;          /*التنسيق فى نص الصفحه*/
  justify-content:center;
  align-items:center;
  height: 100vh;
  color:rgb(243, 236, 236); /* خاص بى تلوين العنوان*/
}

/* Sidebar */
.sidebar{ /* خاص بى العنوان*/
   margin-top: 44px;
  width:1000px;
  display:flex;
  flex-direction:column; /*تنسيق عناصر sidebar تحت بعض*/
 margin-bottom:29px;
 background-color: #101727;
}
.menu li{     /* خاص بى المسافه بين العناصر */
  border-radius:8px; 
  margin-bottom:10px;
  transition:0.3ps; 
  padding: 10px 15px;
}

.menu li a{       /* خاص بى تنسيق العناصر داخل sidebar*/
  display:block;
  padding:12px;
  text-decoration:none; /* بتشيل الخط الى تحت اللينك */
  color:rgb(235, 236, 239); /* خلفيه لى اللينك*/
}

.menu li.active{     /* الخلفيه الى على اللينك*/
  background:rgba(246, 234, 234, 0.97);
}

.menu li.active a{ /* ظهور اللينك لمه يتم الضغط عليه*/
  color:#0b1225;   
  font-weight:500px;
}
.card{
  background:#020e1cf2;
  padding:20px;
  border-radius:12px;  /*التحكم فى borderالمستطيل*/
  margin-bottom:25px;
}

.card h3{
  margin-bottom:15px;
  color: #f6f8f9;
}

/* Buttons */
.btn{
  padding:10px 18px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  margin-right:10px; /* التحم فى الفرق بين  pdf/word*/
}
h1{
  color: #f6f8f9;
}

.btn-blue{     /* لون upload pdf*/
  background:linear-gradient(90deg,#eaebed);
  color:rgb(23, 5, 5);
}

/* Generate Button */
.generate{
  width:100%;
  padding:15px; /* التحكم فى المستطيل*/
  border:none;
  background:linear-gradient(90deg,#05070b,#02050adf);   /* لون generate summary*/
  color:white;
}



