
body {
    font-family: Arial, sans-serif;   /* التحكم فى الخط*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top left, #0f2027, #203a43, #000000);
}

.login-box {
    width: 500px;
    padding: 60px; /* التحكم فى حجم المربع*/
    background:#0b0e16;
    border-radius: 10px;
    text-align: center;      /* login فى النص*/
}

.login-box h2 {
    color: #fff;
    margin-bottom: 30px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;   /* المسفات بين الفورم*/
}

.input-group label {
    display: block;
    color: #ccc;
    margin-bottom: 8px;
}

.input-group input {    /* الفورم*/
    width: 100%;
    padding: 10px;    /* حجم الفورم*/
    border: none;
    color: #efe8e8;  /*الكلام داخل الفورم لونه ابيض*/
    border-radius: 5px;  
    background: #2a2f3a;  /*خاص بى تلوين الفورم*/
}

.login-btn {    /* login خاص بى*/
    width: 100%;
    padding: 12px;  /* حجم ال مستطيل*/
    border: none;
    background: linear-gradient(to right,#4ba47b);   /* login خلفيه*/
    color: #fff;   /* login لون*/ 
}

.links {                  /*  sign up على اليمين ةالتانيه على الشمال */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.links a {             /*  sign upالتحكم فى */
    color: #f5f0f0;
    text-decoration: none;
    font-size: 13px;
}

